@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Drone swarm delivery</h1>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-controller="Home" asp-action="CRUD" class="btn btn-primary">
            Przejdź do listy CRUD.
        </a>
    </p>
}

<p>
    <a asp-controller="Home" asp-action="Map" class="btn btn-primary">
        Przejdź do mapy
    </a>
</p>

<p>
    <a asp-controller="Home" asp-action="MapWeather" class="btn btn-primary">
        Przejdź do mapy z pogodą
    </a>
</p>

<p>
    <a asp-controller="Paczki" asp-action="Dodaj" class="btn btn-primary">
        Zamów paczkę
    </a>
</p>

@if (User.Identity?.IsAuthenticated == true)
{
    <p>
        <a asp-controller="Home" asp-action="MyPackages" class="btn btn-primary">
            Zobacz moje paczki
        </a>
    </p>
}
