@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a asp-controller="Home" asp-action="Packages" class="btn btn-primary">
        Przejdź do listy paczek
    </a>
</p>

<p>
    <a asp-controller="Home" asp-action="Drones" class="btn btn-primary">
        Przejdź do listy dronów
    </a>
</p>

<p>
    <a asp-controller="Home" asp-action="Deliveries" class="btn btn-primary">
        Przejdź do listy przesyłek
    </a>
</p>
<p>
    <a asp-controller="Home" asp-action="Districts" class="btn btn-primary">
        Przejdź do listy dystryktów
    </a>
</p>
<p>
    <a asp-controller="Home" asp-action="DroneClouds" class="btn btn-primary">
        Przejdź do listy chmur dronów
    </a>
</p>
<p>
    <a asp-controller="Home" asp-action="Operators" class="btn btn-primary">
        Przejdź do listy operatorów
    </a>
</p>
<p>
    <a asp-controller="Home" asp-action="Models" class="btn btn-primary">
        Przejdź do listy modeli
    </a>
</p>
<p>
    <a asp-controller="Home" asp-action="Clients" class="btn btn-primary">
        Przejdź do listy klientów
    </a>
</p>
<p>
    <a asp-controller="Home" asp-action="Map" class="btn btn-primary">
        Przejdź do mapy
    </a>
<p>
    <a asp-controller="Home" asp-action="Login" class="btn btn-primary">
        Logowanie
    </a>
</p>
