@model Projekt_NET.Models.District

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>District</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Coordinate 1 (Latitude, Longitude)</label>
                <div class="coordinate-item">
                    <input type="text" name="BoundingPoints[0].Latitude" placeholder="Latitude 1" class="form-control" />
                    <input type="text" name="BoundingPoints[0].Longitude" placeholder="Longitude 1" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label>Coordinate 2 (Latitude, Longitude)</label>
                <div class="coordinate-item">
                    <input type="text" name="BoundingPoints[1].Latitude" placeholder="Latitude 2" class="form-control" />
                    <input type="text" name="BoundingPoints[1].Longitude" placeholder="Longitude 2" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>