@model Projekt_NET.Models.Drone

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Drone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DroneId" />
            <div class="form-group">
                <label asp-for="CallSign" class="control-label"></label>
                <input asp-for="CallSign" class="form-control" />
                <span asp-validation-for="CallSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.StatusList" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Coordinate.Latitude" class="control-label"></label>
                <input asp-for="Coordinate.Latitude" class="form-control" />
                <span asp-validation-for="Coordinate.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordinate.Longitude" class="control-label"></label>
                <input asp-for="Coordinate.Longitude" class="form-control" />
                <span asp-validation-for="Coordinate.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DroneCloudId" class="control-label"></label>
                <select asp-for="DroneCloudId" class="form-control" asp-items="ViewBag.DroneCloudId"></select>
                <span asp-validation-for="DroneCloudId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AqDate" class="control-label"></label>
                <input asp-for="AqDate" class="form-control" />
                <span asp-validation-for="AqDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-action="Move" method="post">
        <input type="hidden" name="droneId" value="@Model?.DroneId" />

        <div>
            <label for="latitude">Latitude:</label>
            <input type="number" step="any" name="latitude" required />
        </div>

        <div>
            <label for="longitude">Longitude:</label>
            <input type="number" step="any" name="longitude" required />
        </div>

        <button type="submit">Move Drone</button>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

